.apply-form-body{
  width: 1442px;
  //background-color: #ffffff;
  //margin-left: 321px;
}

.apply-form{
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #000000;
  padding: 12px 6px;
}

.apply-form input{
  width: 174px;
  height: 28px;
  font-family: NotoSansCJKkr;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin-right: 6px;
}

.apply-form select{
  width: 83px;
  height: 28px;
  font-family: NotoSansCJKkr;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin-right: 6px;
}

.apply-form option{
  width: 83px;
  height: 28px;
  font-family: NotoSansCJKkr;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
}
.address{
  width: 174px;
}

.apply-btn{
  width: 28px;
  height: 28px;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  background-color: #ffffff;
}