.firewallBtn{
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0 rgba(56, 66, 72, 0.2);
  background-color: #ffffff;
  width: 100%;
}

.btn-secondary:hover {
  background-color: #1e7fba;
}