.aplly-head{
  height: 90px;
  background-color: #ffffff;
}

.apply-body{
  background-color: #f3f6f8;
}

.apply-firewall{
  padding-left: 321px;
  padding-top: 40px;
}

.title-text{
  width: 1442px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  color: #000000;
}

.table-text{
  text-align: center;
  width: 1422px;
  height: 40px;
  background-color: #eef1f3;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #616b72;
}

.table-text tr td{
  text-align: center;
}