/* Error: expected selector.
 *     ,
 * 240 | .table not(.btn-group) .btn + .btn,
 *     |           ^
 *     '
 *   paper-dashboard/_buttons.scss 240:11  @import
 *   paper-dashboard.scss 20:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a     \2577 \a 240 \2502  .table not(.btn-group) .btn + .btn,\a     \2502            ^\a     \2575 \a   paper-dashboard/_buttons.scss 240:11  @import\a   paper-dashboard.scss 20:9             root stylesheet";
}
